.CAD{
    width: 100%;
    height:100%; 

}

.CAD-container{
    width: 100%;
    height:100%; 
    display:grid;
    grid-template-columns: 25% 75%; 
}

.CAD-side{
    height:100%; 
    background-color: black;    
}

.CAD-main-area{
    height:100%;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
}

.CAD-Cards-Holder{
    display:grid; 
    grid-template-columns: repeat(3,1fr);
    margin-top:20px;
}