.CAD{
    width: 100%;
    height:100%; 

}

.CAD-container{
    width: 100%;
    height:100%; 
    display:grid;
    grid-template-columns: 25% 75%; 
}

.CAD-side{
    width:250px;
    height:100%; 
    background-color: #000; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    justify-content:flex-start;  
    transition:1s; 
    position:relative;
    left:55px; 
}

.CAD-main-area{
    height:100%;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
}

.CAD-Cards-Holder{
    display:grid; 
    grid-template-columns: repeat(3,1fr);
    margin-top:20px;
}