.Files{
    margin-top:30px;
    padding-bottom: 40px;
}

.Files div h5{
    width:fit-content;
    margin-left:15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.files-row{
    height:25%; 
    display:grid; 
    grid-template-columns: repeat(4,1fr);

}