.ToolTip{
z-index: -10; /*this is because i used mouse enter event, and this element blocks it */
}

.Tooltip-container{
    width:fit-content;
    height: fit-content;
    padding: 5px 20px;
    padding-bottom:0px ;
    background-color: rgba(0,0,0,0.5);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative; 
    right:100px;
}
