.addBufferOption{
    width:220px; 
    padding:20px 8px; 
    position:absolute;
    top:0px; 
    right:110px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black; 
    color:white;
}

.addBufferOption input{
    width:35%; 
}

.addBufferOption p{
    height:10px; 
}