.creation-form{
    width:100%;
    cursor: default;
}
.creation-form-fields-holder{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-top: 20px;
    padding:0px 20px; 
}

.creation-form-fields-holder input {
    width:75%; 
}

.creation-form-button-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:40px; 
    margin-bottom:10px; 
}

.creation-form-button{
    width:100px; 
    height:30px; 
    margin:auto;
    padding:0px 20px;
    background-color: #0275d8;
    color:white; 
    border:none; 
    align-self: center; 
    cursor:pointer;
}