.backdrop{
    position: fixed;
    top:0px; 
    left:0px; 
    width:100%; 
    height:100%; 
    background-color:rgba(0,0,0,0.5); 
    z-index:1001;
}

.modal-inner-holer{
    width: 70%;
    height:85%; 
    display:flex;
    flex-direction: column;
    margin:60px auto;
    box-shadow: rgba(0,0,0,0.5);
    background-color: white;  
    overflow-y: auto;

}

.modal-entity-title{
    margin:20px; 
    color:#555;
}

.tabs{
    width: 100%;
    height:70px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab{
    width:100px; 
    height:30px; 
    margin:20px; 
    margin-bottom:10px;
    border:1px solid blue; 
    text-align: center;
}

.tab:hover{
    background-color:blue; 
    color:white;
    cursor:pointer; 
    transition:0.7s;
}