.AerodromeComponentDetails{
    width:100%;
    height:100%; 
}

.AerodromeComponentDetails-container{
    width: 80%;
    height:100%; 
    position:relative;
    margin:auto; 
}

.AerodromeComponentDetails-img-gallery{
    width:300px; 
    height:300px; 
    float: right;
    margin-top: 20px;
    margin-left:20px; 
}

.AerodromeComponentDetails-img{
    width: 100%;
    height: 100%;
    background-position:center;
    background-size: contain;

}

.AerodromeComponentDetails-textual-section{
    margin-top:20px;
}

.AerodromeComponentDetails-textual-section::before{
    width: 100%;
    height:3px; 
    content: "";
    position:absolute;
    background-color:black; 
}

.AerodromeComponentDetails-textual-section h2{
    position: relative;
    width:max-content; /* the same width of the content*/
    max-width: 100%;
    padding-top:20px; 
}

.AerodromeComponentDetails-textual-section h3{
    padding-top:10px; 
    padding-left:10px; 
    position: relative;
    width: max-content;
    max-width: 100%;

}

.AerodromeComponentDetails-textual-section p{
    text-align: justify;
    padding-left: 20px;
}