.files-searchBar{
    position: relative;
}

.files-searchBar form{
    width: fit-content;
    height:50px;
    position: absolute;
    right: 100px;
}

.files-searchBar input{
    width:100%; 
    height: 100%;
    background-color: white;
    color:black;
}
.files-searchBar input::placeholder{
    color:black;
}