.BufferParameterPane{
    width:500px; 
    height: 50px;
    position: absolute;
    top:-30px;
    right:300px; 
}

.BufferParameterPaneContainer{
    position: relative;
    background-color: black;
    width:100%;
    height:100%; 
    display: flex;
    
}

.bufferCoordinates{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-color: teal;
}

.bufferCoordinates p{
    color:white
}

.buffer-distance-input{
    width:30%; 
    height: 100%;
    display: flex;
    align-items: center;
    margin-left:10px;
}
.buffer-distance-input p{
    padding-top:14px;
    color:white; 
}

.buffer-distance-input input{
    width: 100%;
    height: 50%;
    margin-left:5px;
}

.buffer-units-input{
    width:30%; 
    height: 100%;
    display: flex;
    align-items: center;
    margin-left:10px;
}

.buffer-units-input p{
    padding-top:14px;
    color:white;
}

.buffer-units-input input{
    width:100%; 
    height: 50%;
    margin-left:5px;
}