.Dashboard{
    width:100%; 
    height:100%;
    background-color:#f7f7f7;
}

.Dashboard-container{
    width:100%; 
    height:100%;
    display:flex;
}

.Dashboard-ganttChart-container{
    flex-basis: 50%;
    height:306px;
    margin:10px 20px;
    margin-left:90px; 
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.Dashboard-pieCharts-container{
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
}

.Dashboard-PieChart-card-container{
    height: 306px;;
    margin:10px 10px; 
    padding:20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.Dashboard-PieChart-card-container h4{
    margin-bottom:20px;
    color: #555;
    text-align: center;

}

.Dashboard-PieChart-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.Dashboard-PieChart-card-content{
    display: flex;
}

.Dashboard-PieChart-card-content div{
    display: flex;
    justify-content: space-between;
    margin-right:5px;
}

.Dashboard-PieChart-card-content p{
    font-size:12px;
}