*{
    box-sizing: border-box;
    margin:0px; 
}
body{
    overflow-x: hidden;   /* for some reason the browser adds scrolls, prevented here */
    
}
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* FontAwesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); 
